<h1>Forget My Password</h1>

<% form_tag do %>
<p>&nbsp;</p>
	<p>
		<label for="name">Your Email Name:</label>
		<%= text_field_tag :email, params[:email] %>
	</p>
<p>&nbsp;</p>	
	<p>
		<%= submit_tag "submit" %>
		<input type=button value="Back" onClick="javascript:window.location='<%= root_path %>login/login' ">			
	</p>
	
	<p>
	
<% end %>	
	